body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 75%;
}

.fa-cart-arrow-down {
  background-color: #7ac64d;
}

.nav-link {
  font-size: 15px;
  color: white;
}

.nav-link:hover {
  transition: 2s;
  color: #ff5f13;
}

.navi i {
  font-size: 1.5em;
  padding: 20px;
  color: grey;
  border-left: 1px solid grey;
}

.navi i:hover {
  background-color: black;
  color: white;
}

.whatimg {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  opacity: 0.6;
}

.card.whatimgp {
  color: #2c234d;
}

.card:hover .whatimgp {
  color: #fff;
}

.card:hover .whatimg {
  background-color: #ff5f13;
  opacity: 1;
  transition: all 0.5s ease-out;
  color: white;
}

.card:hover .hide-awesome {
  display: block;
}

.div-white {
  font-family: cursive;
  font-weight: 800;
  font-size: 1.5em;
}

.bgimg {
  background-image: url(../images/h1_hero.jpg);
  height: 1200px;
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
}

.about {
  background-image: url(../images/about.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img {
  background-image: url(../images/section_bg02.jpg);
  height: auto;
  background-size: cover;
}

.safep {
  font-size: 4.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  padding-top: 300px;
}

.border-bottom {
  border-color: grey;
}

.section-div {
  width: 60%;
  margin-left: 450px;
  padding: 50px;
}

.bg-input {
  width: 45%;
  height: 60px;
  border-radius: 4px;
  border: 0;
  padding-left: 30px;
}

#btn-img {
  background-color: #ff5f13;
  height: 60px;
  border-radius: 4px;
  width: 20%;
  border: 0;
  /* padding-left: 60px; */
  margin-top: -6px;
  margin-left: -6px;
}

.hvr-bounce-to-top {
  background-color: #ff5f13;
}

.whattext {
  font-size: 2.5em;
  font-family: cursive;
  color: #2c234d;
}

.safelogic {
  font-size: 3em;
  font-family: cursive;
  color: #2c234d;
}

.section-text1 {
  font-size: x-large;
}

.hide-awesome {
  display: none;
}

.img-hover {
  overflow: hidden;
  height: auto;
}

.img-hover img {
  transition: transform 0.5s ease;
}

.img-hover img:hover {
  transform: scale(1.1);
}

.about-txt {
  font-size: 70px;
  font-weight: 700;
  font-family: cursive;
  margin-left: 100px;
}

.about-txt1 {
  margin-left: 100px;
  width: 15%;
}

.pos {
  background-color: #ff5f13;
  position: absolute;
  width: 60px;
  border-radius: 10px;
  bottom: 33%;
  left: 4%;
  font-family: cursive;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .safep {
    font-size: 1.5em;
    padding-top: 120px;
  }
  .bgimg {
    height: 500px;
  }
  .bg-input {
    width: 100%;
    border-radius: 0;
  }
  #btn-img {
    border-radius: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0;
  }
  .whattext {
    font-size: 1.5em;
  }
  .safelogic {
    font-size: 1.4em;
  }
  .section-div {
    margin-left: 0;
    width: 100%;
  }
  .about {
    height: 40vh;
  }
  .about-txt {
    font-size: 50px;
    font-weight: 700;
    font-family: cursive;
    margin-left: 100px;
  }

  .about-txt1 {
    margin-left: 100px;
  }
  .pos {
    bottom: 48%;
  }
}
